data/flows_bd8c07ef994d.json
[
    {
        "id": "344780d0.6fe8c",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "38567c90.9a5dd4",
        "type": "debug",
        "z": "344780d0.6fe8c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 405,
        "y": 248,
        "wires": []
    },
    {
        "id": "cb122199.a4589",
        "type": "http in",
        "z": "344780d0.6fe8c",
        "name": "",
        "url": "test",
        "method": "get",
        "swaggerDoc": "",
        "x": 65,
        "y": 308,
        "wires": [
            [
                "38567c90.9a5dd4",
                "f68811cd.1433"
            ]
        ]
    },
    {
        "id": "f68811cd.1433",
        "type": "function",
        "z": "344780d0.6fe8c",
        "name": "",
        "func": "msg.payload = {\n    \"hello\": \"world\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 223,
        "y": 349,
        "wires": [
            [
                "38567c90.9a5dd4",
                "b86162a7.46e1b"
            ]
        ]
    },
    {
        "id": "b86162a7.46e1b",
        "type": "http response",
        "z": "344780d0.6fe8c",
        "name": "",
        "x": 458,
        "y": 396,
        "wires": []
    }
]