data/flows_cd6c63b37d3b.json
[
    {
        "id": "4da3036f.5be30c",
        "type": "tab",
        "label": "Test Flow"
    },
    {
        "id": "f402df1.0c8f22",
        "type": "http in",
        "z": "4da3036f.5be30c",
        "name": "hello world",
        "url": "/hello",
        "method": "get",
        "swaggerDoc": "",
        "x": 138,
        "y": 144,
        "wires": [
            [
                "a982d933.896508"
            ]
        ]
    },
    {
        "id": "a982d933.896508",
        "type": "function",
        "z": "4da3036f.5be30c",
        "name": "hello world function",
        "func": "msg.payload = {\n    \"hello\": \"world\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 388,
        "y": 184,
        "wires": [
            [
                "21691d15.76a802"
            ]
        ]
    },
    {
        "id": "21691d15.76a802",
        "type": "http response",
        "z": "4da3036f.5be30c",
        "name": "",
        "x": 635,
        "y": 228,
        "wires": []
    }
]