.nodered/flows_dluslahir42749.json
[{"id":"7e223ec0.43b5c","type":"tab","label":"pub_sub_loopback"},{"id":"2233ef49.8f237","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"92b4a2c7.b3458","type":"http in","z":"7e223ec0.43b5c","name":"","url":"/test","method":"get","swaggerDoc":"","x":181,"y":260,"wires":[["a3d9cd2d.0bd12"]]},{"id":"a3d9cd2d.0bd12","type":"function","z":"7e223ec0.43b5c","name":"","func":"msg.payload = {\n    \"test\": \"hello world\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":279,"wires":[["ab978fb4.f4ce2","434ee543.a3242c","c1e157be.0170e8"]]},{"id":"ab978fb4.f4ce2","type":"http response","z":"7e223ec0.43b5c","name":"","x":559,"y":371,"wires":[]},{"id":"434ee543.a3242c","type":"mqtt out","z":"7e223ec0.43b5c","name":"test_topic_publish","topic":"test_topic","qos":"0","retain":"true","broker":"2233ef49.8f237","x":611,"y":208,"wires":[]},{"id":"c1e157be.0170e8","type":"debug","z":"7e223ec0.43b5c","name":"test_topic_publish","active":true,"console":"true","complete":"payload","x":644,"y":299,"wires":[]},{"id":"ef710557.2532f8","type":"mqtt in","z":"7e223ec0.43b5c","name":"test_topic_subscribe","topic":"test_topic","qos":"0","broker":"2233ef49.8f237","x":203,"y":110,"wires":[["2ddc7dfb.441bd2"]]},{"id":"2ddc7dfb.441bd2","type":"debug","z":"7e223ec0.43b5c","name":"test_topic_subscribe","active":true,"console":"true","complete":"payload","x":453,"y":130,"wires":[]},{"id":"ab3fbd12.bd505","type":"async-observer","z":"7e223ec0.43b5c","name":"Notes_Observer","modelname":"Note","method":"access","x":187,"y":438,"wires":[[]]},{"id":"2b628b21.a00c64","type":"debug","z":"7e223ec0.43b5c","name":"","active":true,"console":"false","complete":"true","x":429,"y":436,"wires":[]},{"id":"4198537f.622eac","type":"model-observer","z":"7e223ec0.43b5c","name":"Note_Model_Observer","modelname":"Note","event":"access","x":207,"y":558,"wires":[["2b628b21.a00c64"]]}]